<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84798531171-e46lml7k21dvv165hm0phiid8uqb20ms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84798531171-e46lml7k21dvv165hm0phiid8uqb20ms</string>
	<key>API_KEY</key>
	<string>AIzaSyAKtQ_-Jhe8pbOjUvYLYAOEuBJsSOy8SAw</string>
	<key>GCM_SENDER_ID</key>
	<string>84798531171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.takeru.tracking</string>
	<key>PROJECT_ID</key>
	<string>dispatch-management-syst-37f1e</string>
	<key>STORAGE_BUCKET</key>
	<string>dispatch-management-syst-37f1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84798531171:ios:022a9f461c62bd2cf03a56</string>
</dict>
</plist>